/.vscode
CMakeCache.txt
CMakeFiles
Makefile
/bin
/lib
cmake_install.cmake
/.vs
/build
/x64
*.vcxproj*
*.sln
*.dir
/out
/include/hope
/include/olcPixelGameEngine
/include/nativefiledialog-extended
/_deps
/elecSim-cppcheck-build-dir
CLAUDE.md
